[submodule "components/mongoose/mongoose"]
	path = components/mongoose/mongoose
	url = https://github.com/cesanta/mongoose.git
	branch = 7.4

[submodule "components/tinyxml2/tinyxml2"]
	path = components/tinyxml2/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	branch = 8.0.0

[submodule "components/nlohmann-json/json"]
	path = components/nlohmann-json/json
	url = https://github.com/nlohmann/json.git
	branch = v3.9.1

[submodule "components/warthog/warthog"]
	path = components/warthog/warthog
	url = https://github.com/mill1000/warthog.git
	branch = main
