menu "Project Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            WiFi SSID (network name) to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) of network.

    config LWIP_LOCAL_HOSTNAME
        string "Hostname"
        default "I2S Bridge"
        help
            Hostname for this device.
endmenu
